.cart-meal img {
	width : 70%;
} 

.meal-name {
	font-weight: 300;	
	font-size: 2vw;
	text-align: center;
}

.meal-amount{
	font-weight: 300;	
	font-size: 2vw;
	text-align: center;
}

.meal-title{
	text-align: center;
}

.amount-title{
	text-align: center;
}

.meal-image {
	text-align: center;
}