.vote-meal-grid p {
	text-align: center;
	font-size: 10pt;
}

.vote-meal-grid .meal-name {
	text-align: center;
	font-size: 14pt;
	font-weight: 500;
	padding-top: 10px;
}

.vote-meal-grid .vote-button {
	margin-left: auto;
	margin-right: auto;
}

#voting-dialog-title {
	text-align: center;
}