@import '~react-md/src/scss/react-md';

$md-primary-color: $md-orange-500;
$md-secondary-color: $md-teal-a-700;
* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
	margin: 0px;
	padding: 0;
 	height: 100%;
 	position: relative;
}

.page {
 min-height: 60vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
}

$md-tab-desktop-font-size: 15px;

.md-tab--active .md-tab-label {
	font-size: 18px;
}
.md-grid .home-image {
	padding:0;
}
@include react-md-everything;
